<mat-sidenav-container class="weather-sidenav">
    <mat-sidenav #sidenav>
        <app-city></app-city>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon class="material-icons"> menu </mat-icon>
            </button>
            <div *ngIf="cityName;else noCityName">
                <h1>
                    {{cityName}}
                </h1>
            </div>
            <ng-template #noCityName>
                <h1>
                    {{title}}
                </h1>
            </ng-template>
        </mat-toolbar>

        <router-outlet>
            <app-progress></app-progress>
            <br>
            <mat-grid-list cols="1" rowHeight="5em">
                <mat-grid-tile rowspan="3">
                    <app-weather></app-weather>
                </mat-grid-tile>
                <mat-grid-tile rowspan="25">
                    <app-forecast></app-forecast>
                </mat-grid-tile>
                <!-- <mat-grid-tile rowspan="2">
                    <app-pollution></app-pollution>
                </mat-grid-tile> -->
            </mat-grid-list>
        </router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>