<mat-sidenav-container class="weather-sidenav">

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar>

            <button mat-button (click)="sidenav.toggle()">
                <mat-icon class="material-icons"> menu </mat-icon>
            </button>

            <div *ngIf="!geoLocalisationError;else noCityName">
                <h1>
                    {{cityName}}
                </h1>
            </div>
            <ng-template #noCityName>
                <h1>
                    {{title}}
                </h1>
            </ng-template>

        </mat-toolbar>

        <router-outlet>

            <mat-grid-list cols="1" rowHeight="5em">
                <mat-grid-tile rowspan="3">
                    <app-weather></app-weather>
                </mat-grid-tile>
                <mat-grid-tile  rowspan="2">
                    <app-pollution></app-pollution>
                </mat-grid-tile>
                <mat-grid-tile  rowspan="1">
                    <app-progress></app-progress>
                </mat-grid-tile>
            </mat-grid-list>

        </router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>