<mat-sidenav-container class="weather-sidenav">

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar>

            <button mat-button (click)="sidenav.toggle()">
                <mat-icon class="material-icons"> menu </mat-icon>
            </button>

            <div *ngIf="!geoLocalisationError;else elseh1">
                <h1>
                    {{cityName}}
                </h1>
            </div>
            <ng-template #elseh1>
                <h1>
                    {{title}}
                </h1>
            </ng-template>

        </mat-toolbar>

        <router-outlet>

            <app-weather></app-weather>

            <app-pollution></app-pollution>

            <app-progress></app-progress>

        </router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>

